body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(199, 137, 137);
}
#title{
    text-align: center;
    color: rgb(0, 0, 0);
}
#container {
    width: 40%;
    min-width: 400px;
    height: 80vh;
    margin: auto;
    margin-top: 3rem;
    border-radius: 15px;
    display: grid;
    background: rgb(168, 167, 167);
    grid-template-areas: "display display display"
                         "buttons buttons operators"
                         "buttons buttons operators";
    grid-template-rows: 140px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.74);
}

#display {
    grid-area: display;
    box-shadow: 0 5px 5px -5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 2rem;
}

#display #display-current {
    margin: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    word-break: break-all;
}

#display #display-previous {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-right: 20px;
    font-style: oblique;
    color: rgba(0, 0, 0, 0.6);
    word-wrap: break-word;
    word-break: break-all;
}

#operator-container {
    grid-area: operators;
    display: grid;
}

#number-container{
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 5px 0px 5px -7px black;
}

.button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px 2px rgb(44, 44, 44);
    outline:none;
    box-shadow: inset 4px 4px 3px -5px black;
}


.operator {
    color: rgb(0, 0, 0);
}

@media (max-width: 768px){
    #container {
    width: 80%;
    min-width: 200px;
    }
}